{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center">Rejestracja</h1>
    
    <div class="d-flex w-100 justify-content-center pt-5">
        {{ form_start(registrationForm) }}

            <div class="formoutline mb-4 d-flex flex-column align-items-center">
                {{ form_label(registrationForm.lastname, 'Imię') }}
                {{ form_widget(registrationForm.lastname) }}
            </div>

            <div class="formoutline mb-4 d-flex flex-column align-items-center">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div>

            <div class="formoutline mb-4 d-flex flex-column align-items-center">
                {{ form_label(registrationForm.plainPassword.first) }}
                {{ form_widget(registrationForm.plainPassword.first ) }}
                {{ form_label(registrationForm.plainPassword.second) }}
                {{ form_widget(registrationForm.plainPassword.second ) }}
                <span style="color:red;"> {{form_errors(registrationForm.plainPassword.first)}}</span>
                
            </div>
            <div class="formoutline mb-4 d-flex justify-content-center">
                <label class='d-flex'>
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                <label>
            </div>


            <div class="formoutline mb-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-lg btn-primary">Zarejestruj się</button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
