<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"href="{{ path('index') }}">System zarządzania hodowlami</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if app.user %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% else %}
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    {% endif %}
      {% if app.user %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
          <li class="nav-item">
            <a class="nav-link" href="{{ path('farm') }}">Twoja hodowla</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Magazyn
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Pasza</a></li>
              <li><a class="dropdown-item" href="#">Leki</a></li>
              <li><a class="dropdown-item" href="#">Paliwo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"href="{{ path('doctor') }}">Lekarze</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="#">Historie leczenia</a>
          </li>

          <li class="nav-item">
          <a class="nav-link" href="#">Finanse</a>
          </li>
    
        </ul>
      {% endif %}
     <div class="d-flex flex-row gap-5">  
        {% if app.user %}
          <div class="mb-3 d-flex align-items-center gap-3" >
              <span> Jesteś zalogowany jako <b>{{ app.user.userIdentifier }}</b></span> <a class="btn btn-primary text-white font-weight-bold" href="{{ path('app_logout') }}">Wyloguj się</a>
          </div>
        {% else %}
          <div> <a class="nav-link btn btn-primary text-white font-weight-bold" href="{{ path('app_login') }}">Zaloguj się</a> </div>
          <div> <a class="nav-link btn btn-success text-white font-weight-bold" href="{{ path('app_register') }}">Zarejestruj się</a> </div>
        {% endif %}
       
     </div>
    </div>
  </div>
</nav>
    </body>
</html>
